.bg-player-mask {
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.bgPlayer {
  display: block;
  background-image: url(//y.qq.com/music/photo_new/T002R300x300M000003XqDlj393kQi.jpg?max_age=2592000);
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  filter: blur(65px);
  opacity: 0.6;
  transform: translateZ(0);
}
